@{
    ViewBag.Title = "FAQ";
    Layout = "";

    string _WebUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["WebAddress"];
    var loginLink = Path.Combine(_WebUrl + "Login/Index");
    var backgroundLink = Path.Combine(_WebUrl + "Content/assets/img/home-bg.png");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NIBL | Thaili Digital Paisa</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- /Google font -->
    @*<link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">*@
    <!-- Custom style -->
    <link href="~/Content/ThaliStyle.css" rel="stylesheet" />

    @*<script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>*@
    <script src="~/Content/assets/js/jquery-3.5.0.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/popper.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>


    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
    <link rel="icon" type="image/ico" href="~/favicon.ico">

    <style>
        .headerFont {
            color: #002D6A;
            font-size: 1.3rem;
            font-weight: bold;
        }

        .faq li, .margin-20 {
            margin-bottom: 20px;
        }

        .header-color {
            color: #002D6A
        }
    </style>

</head>

<body>
    <div class="main-content">
        <div class="hero-bg text-center" style="background-image: url(@backgroundLink); ">
            <div class="container">
                <a href="@loginLink" class="logo">
                    <img src="~/Content/assets/img/thaili-logo.svg" alt="Thaili-logo" />

                </a><br />
                <!-- /logo -->

                <div class="container" style="text-align: justify; line-height:1.5rem;">
                    <div style="margin-bottom:20px;">
                        <span class="headerFont" style="font-size:2rem; font-weight:bold;">
                            General Frequently Asked Questions (FAQs)
                        </span>
                    </div>
                    <div class="faq">
                        <ol>
                            <li><strong class="headerFont">What is Thaili?</strong><br>Thaili is a digital wallet, which ensures real time, instant payment. With Thaili, you can make various payments such as utility bill payment (NEA, Khanepani, etc.), recharge mobile, make bank transfer (Thaili to bank) and many more.</li>
                            <li><strong class="headerFont">What devices work with Thaili?</strong><br>Currently Thaili can be used in any Android devices and via NIBL website <a href="https://www.nibl.com.np/">https://www.nibl.com.np</a> or <a href="https://www.thaili.com.np/">https://www.thaili.com.np</a>.</li>
                            <li><strong class="headerFont">Can iPhone users use Thaili?</strong><br>No, but the user can use the application from Safari or Web browser.</li>
                            <li><strong class="headerFont">Does it cost to register in Thaili?</strong><br>No, any Nepali citizens can register the app.</li>
                            <li><strong class="headerFont">Are there any charges applicable in using Thaili services?</strong><br>The services in Thaili are free of charges. However, charges may incur depending on the policies adopted by Thaili.</li>
                            <li><strong class="headerFont">Is Thaili secure?</strong><br>Thaili being NIBL’s wallet is regulated by Nepal Rastra Bank’s rules and regulations.</li>
                            <li><strong class="headerFont">Does Thaili work in other countries?</strong><br>No.</li>
                            <li><strong class="headerFont">Do I need to visit branch to change my PIN?</strong><br>No. there is an option of reset PIN and change PIN options on setting of Thaili Application after login.</li>
                            <li><strong class="headerFont">Do I have to submit any document to subscribe/register Thaili?</strong><br>• During Quick Register there is no requirement of documents.<br>• But to have full limit of transaction user has to submit KYC.<br>• User has to upload document detail while submitting the KYC.</li>
                            <li><strong class="headerFont">Is Thaili available only to NIBL Customers?</strong><br>Thaili Wallet is available to all the customer. But only NIBL account holders can link their account.</li>
                            <li><strong class="headerFont">What happens to my mobile wallet when I replace/ lost or give it away?</strong><br>The user is required to authenticate two passwords; login password and transaction pin (TPIN). Since the app does not save your personal data, it is safe.</li>
                            <li><strong class="headerFont">Is it a SMS (Short Message System) based or Internet based?</strong><br>Both the options are available.</li>
                            <li><strong class="headerFont">Is communication between my phone and to bank's system secured? If yes, what is the basis of security.</strong><br>We have secured connection between Thaili server and NIBL Bank. Data are encrypted while having communication between Thaili server and NIBL Bank.</li>
                            <li>
                                <strong class="headerFont">Can Joint Account Subscribe Thaili ?</strong><br>In case of Joint account, both /all the
                                account holder(s) must be self present at bank and concent of the remaining
                                accountholder(s) except the one who is authorised to link joint account for Thaili to be obtained.
                            </li>
                            <li>
                                <strong class="headerFont">Can Entity Acount subscribe Thaili?</strong>
                                <br />
                                <span class="header-color font-weight-bold">
                                    Sole Properitorship Firm:
                                </span>
                                Authorised signatory must be self present at the bank and request must be attested with firm's seal.
                                <br />
                                <span class="header-color font-weight-bold">
                                    Partnership Firm:
                                </span>
                                Both/all the partners must be self present at Bank and consent of the remaining accountholder(s);except the one who is authorized to link joint account for Thaili to be obtained. All the relevant documents must be attested with firm's seal.
                                <br />
                                <span class="header-color font-weight-bold">
                                    Company Account:
                                </span>
                                All the required documents including Board Resolution disclosing the authorized person and mobile number for Thaili to be obtained. All the relevant documents must be attested with company's seal.
                            </li>
                            <li><strong class="headerFont">Can Minor subscribe Thaili ?</strong><br>Yes</li>
                        </ol>
                    </div>
                    <div style="margin-bottom:20px; margin-top:20px;">
                        <span class="headerFont" style="font-size:2rem; font-weight:bold;">
                            Thaili load FAQs
                        </span>
                    </div>
                    <div class="faq">
                        <ol>
                            <li><strong class="headerFont">How do I Load money in Thaili wallet?</strong><br>Thaili can be loaded via two different mediums:<br>• E-banking services can be used with the credentials provided by bank.<br>• Mobile Banking user must make a request of bank link from Thaili Wallet</li>
                            <li><strong class="headerFont">Does Thaili hold the money in its own bank?</strong><br>As per Nepal Rastra Bank’s rules and regulations Thaili has an ‘A’ Class Financial Institution as settlement bank from day to day operation. NIBL as a settlement bank holds the rights and responsibilities of the wallet balance in Thaili Wallet.</li>
                            <li><strong class="headerFont">How do I get my money back if I no longer want to use Thaili?</strong><br>There is a bank transfer option available on Thaili wallet from where user can have amount transferred to the bank account.</li>
                            <li><strong class="headerFont">I transferred some amount from my internet banking and/or mobile banking to Thaili account, but I cannot see the update in Thaili?</strong> <br>Your Thaili balance should be updated immediately after transferring funds from any bank. However, if the amount has not been loaded in Thaili, then please call Thaili Customer Service for further assistance.</li>
                            <li><strong class="headerFont">Fund transfer</strong><br>The act of sending Thaili balance using “Transfer Funds“ from one Thaili account to the other Thaili account is referred to as fund transfer. To use the service, both of the users must have Thaili wallet registered.</li>
                            <li><strong class="headerFont">How can I withdraw money from my Thaili account to a bank account?</strong><br>You can withdraw Thaili balance to a bank account by visiting to ‘bank transfer’ option on your mobile app or on web portal.</li>
                            <li><strong class="headerFont">Login to Thaili&gt;&gt; Bank transfer&gt;&gt; fill the details and make withdraw</strong></li>
                            <li><strong class="headerFont">Will Thaili App gets updated automatically or need to update manually?</strong><br>Thaili app will be updated automatically by default unless the settings of the phone has been changed manually by the user.</li>
                            <li>
                                <strong class="headerFont">What are the services available under each features?</strong> <br>
                                <table style="border-collapse: collapse;" border="1" cellpadding="10">
                                    <thead>
                                        <tr>
                                            <th>Topup</th>
                                            <th>Recharge Card</th>
                                            <th>Bill Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Nepal Telecom(NT)<br>GSM Prepaid<br>GSM Postpaid<br>LandLine<br>ADSL<br>NCell</td>
                                            <td>NT GSM<br>NT CDMA</td>
                                            <td>Schools<br>Colleges<br>NEA<br>Water<br>Nepal Khanepani<br>Utility Payments<br>Merchant Payments</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li><strong class="headerFont">Do I get confirmation on each transaction, whether successful or unsuccessful?</strong><br>Yes, through SMS message.</li>
                            <li><strong class="headerFont">Do I get refunded for failed transactions?</strong><br>Yes, if the transaction is not complete and the balance has been deducted the user can request for refund by calling Thaili customer support.</li>
                            <li><strong class="headerFont">Do I need to visit branch to subscribed Thaili?</strong><br>• No, user can subscribe Thaili App via <a href="https://play.google.com/store/apps/details?id=com.thailiapp.mnepalmos" target="_blank" rel="noopener">Google Playstore</a> / <a href="https://www.nibl.com.np/personal-banking/services/thaili-digital-paisa" target="_blank" rel="noopener">NIBL Website</a> .<br>• To link NIBL Bank account (only account holders) to Thaili App, the user needs to send Bank Link Application request from Thaili App, through the following:<br>• User can directly send signed Link Request Form through our website.<br>• User can send copy of signed request via email (registered email in Bank)</li>
                            <li><strong class="headerFont">Is it necessary to “Link Bank Account”to non account holders?</strong><br>No</li>
                            <li><strong class="headerFont">Is it necessary to “Link Bank Account”to account holders?</strong><br>Yes, its compulsory.</li>
                            <li><strong class="headerFont">Do I need to visit branch to get PIN for Thaili?</strong><br>No, user will get the login password and transaction PIN during the registration on Thaili.</li>
                            <li><strong class="headerFont">Does Thaili have capability to transfer fund from NIBL to other commercial banks/financial institutes?</strong><br>Yes.</li>
                            <li>
                                <strong class="headerFont">Detail Count PerTxn Amt Per Day Amt Txn Amt Monthly (subject to change as per NRB Circular)</strong>
                                <table style="border-collapse: collapse;" border="1" cellspacing="10" cellpadding="10">
                                    <thead>
                                        <tr>
                                            <th>Detail</th>
                                            <th>
                                                Count
                                            </th>
                                            <th>
                                                PerTxnAmt
                                            </th>
                                            <th>
                                                PerDayAmt
                                            </th>
                                            <th>
                                                TxnAmtMonthly
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Cash In
                                            </td>
                                            <td>5</td>
                                            <td>
                                                25,000
                                            </td>
                                            <td>
                                                25,000
                                            </td>
                                            <td>
                                                50,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Cash Out
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>
                                                5,000
                                            </td>
                                            <td>
                                                5,000
                                            </td>
                                            <td>
                                                25,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Services
                                            </td>
                                            <td>
                                                20
                                            </td>
                                            <td>
                                                100,000
                                            </td>
                                            <td>
                                                100,000
                                            </td>
                                            <td>
                                                500,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Wallet to Bank
                                            </td>
                                            <td>
                                                20
                                            </td>
                                            <td>
                                                25,000
                                            </td>
                                            <td>
                                                100,000
                                            </td>
                                            <td>
                                                500,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Wallet to Wallet
                                            </td>
                                            <td>
                                                20
                                            </td>
                                            <td>
                                                25,000
                                            </td>
                                            <td>
                                                100,000
                                            </td>
                                            <td>
                                                500,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Without KYC Wallet
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                500
                                            </td>
                                            <td>
                                                1,000
                                            </td>
                                            <td>
                                                5,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Bank To Bank
                                            </td>
                                            <td>
                                                20
                                            </td>
                                            <td>
                                                100,000
                                            </td>
                                            <td>
                                                200,000
                                            </td>
                                            <td>
                                                1,000,000
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ol>
                    </div>
                    <div style="margin-bottom:20px; margin-top:20px;">
                        <span class="headerFont" style="font-size:2rem; font-weight:bold;">
                            Registration Process FAQs
                        </span>
                    </div>
                    <div>
                        <span><strong class="header-color">How do I get registered in Thaili?</strong></span>
                        <ol>
                            <li>
                                Install Thaili Digital Paisa application from google play <br>
                                <p><img src="https://nibl.com.np/public/Uploads/Images/thaili.jpg" alt="thaili"></p>
                            </li>
                            <li>Open Thaili application</li>
                            <li>Click Register</li>
                            <li>Enter Mobile Number and Click “Register”</li>
                            <li>Enter Verification Code received vis SMS and Click “Verify Now”</li>
                            <li>Enter basic details and click “Finish”</li>
                            <li>Login password and PIN received via SMS after success.</li>
                        </ol>
                        <span><strong class="header-color">Please follow the following steps for Web Application:</strong></span>
                        <ol>
                            <li>Open web browser and type https://thaili.com.np/thailiapp</li>
                            <li>Click on “Register”</li>
                            <li>Enter Mobile Number and click “Submit”</li>
                            <li>You will receive an SMS for verification Code.</li>
                            <li>Enter Verification Code received via SMS and click “Verify”</li>
                            <li>Enter basic detail and click “Finish”</li>
                            <li>Login password and PIN will be send on SMS.</li>
                        </ol>
                        <div class="margin-20"><strong class="header-color">User status</strong><br>Generally, in Thaili, we have user status as verified and unverified:</div>
                        <div class="margin-20"><strong class="header-color">Unverified status</strong><br>It means your Thaili account is missing the detail information (KYC, Citizenship/License/Passport/ Voter's ID Card)<br>• Transaction will be limited.</div>
                        <div class="margin-20"><strong class="header-color">Verified status</strong><br>• All the required details are present <br>• The user can enjoy full transaction limit.</div>
                        <div><strong class="header-color">Bank Linked</strong><br>• User can apply for bank link of NIBL bank from Thaili application.<br>• Once approved by bank, user will be able to do a transaction from bank account too as a mobile banking</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /hero-bg -->
    </div>
    @Html.Partial("_Footer")


</body>
</html>
