
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CIPS Invoice</title>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-6">Account Name: </div>
        <div class="col-md-6">@ViewBag.AccountName</div>
    </div>
</body>
</html>
