@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "";



    string _WebUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["WebAddress"];
    // string _WebUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ImageAdWebAddressdress"];
    var loginLink = Path.Combine(_WebUrl + "Login/Index");
    var backgroundLink = Path.Combine(_WebUrl + "Content/assets/img/home-bg.png");
    var termsLink = Path.Combine(_WebUrl + "Login/Index");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NIBL | Thaili Agent Digital Paisa</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- /Google font -->
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">
    <!-- Custom style -->
    <link href="~/Content/ThaliStyle.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="~/favicon.ico">
    <script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/popper.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="icon" type="image/ico" href="~/favicon.ico">

    <style>
        .headerFont {
            color: #002D6A;
            font-size: 1.3rem;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="main-content">
        <div class="hero-bg text-center" style="background-image: url(@backgroundLink); ">
            <div class="container">
                <a href="@loginLink" class="logo">
                    <img src="~/Content/assets/img/thaili-logo.svg" alt="thaili-logo" />

                </a>
                <!-- /logo -->

                <div class="container" style="text-align: justify; line-height:1.5rem;">
                    <b class="headerFont" style="font-size:2rem; font-weight:bold">Terms and Conditions</b>
                </div>

            </div>
        </div>


        <!-- /hero-bg -->
    </div>

    @Html.Partial("_Footer")

    <!-- /.login-box -->
    <!-- jQuery Form Validation code -->

</body>
</html>
